In [ ]:
# My first notebook creating a templete to connect to any database
# Library
import pyodbc as pdb

In [ ]:
# Variables
host = "myhost"
database = "mydb"
user = "myuser"
password = "mypass"
port = "myport"

In [ ]:
# Connection
connection_target = psycopg2.connect(
        host=host,
        database=database,
        user=user,
        password=password,
        port=port
    )

# Cursor
cur_target = conn_target.cursor()

In [ ]:
# My first query
query = """SELECT * FROM PUBLIC.FILM"""
cur_target.execute(query)

# My query transformed into a dataframe
rows = cur_target.fetchall()

list_of_rows = []

for row in rows:
    #print(row)
    list_of_rows.append(row)

df = pd.DataFrame(list_of_rows)
display(df)